@{
    ViewData["Title"] = "Detail Page";
}

    <div class="container">
        <div class="div1">
            <img class="dune" src="~/img/dune.jpg" width="400" />
        </div>
        <div class="div2">
            <h1>Dune</h1>
            <div class="div2-1">
                <div class="div2-1-1">
                    <p><b>Cast:</b></p>
                </div>
                <div class="div2-1-2">
                    <p>Timothee Chalamet, Zendaya, Oscar Isaac, Rebecca Ferguson ...</p>
                </div>
            </div>
            <div class="div2-1">
                <div class="div2-1-1">
                    <p><b>Regisseur:</b></p>
                </div>
                <div class="div2-1-2">
                    <p>Denis Villeneuve</p>
                    <br />
                </div>
            </div>
            <div class="div2-2">
                <p>
                    <b>Over:</b>
                    <br /><br />
                    De voor een Oscar geomineerde Dennis Villeneuve (Arrival,Blade runner 2049) regiseert Dune, naar gelijknamige bestseller van Frank herbert. Dune vertelt het mythische en emotionele helderverhaal van paul atreides, eem briljante en begaafde jongeman die tot de grootste dingen is voorbestemd.
                </p>
            </div>
        </div>
        
    </div>
    <div class="div3">
        <div class="div3-1">
            <table>
                <tr>
                    <th>VANDAAG</th>
                    <th>ZA 19 MRT.</th>
                    <th>ZO 20 MRT.</th>
                </tr>
                <tr>
                    <td>11.30 - 13.50 <br /> 3D</td>
                    <td>9.30 - 11.50 <br /> 2D</td>
                    <td>12.10 - 14.30 <br /> 2D</td>
                </tr>
                <tr>
                    <td>15.20 - 17.40 <br /> 2D</td>
                    <td>12.40 - 15.00 <br /> 2D</td>
                    <td>16.00 - 18.20 <br /> 3D</td>
                </tr>
                <tr>
                    <td>20.30 - 23.20 <br /> 3D</td>
                    <td>21.10 - 23.30 <br /> 3D</td>
                    <td>22.00 - 00.55 <br /> 2D</td>
                </tr>
            </table>
        </div>
        <br /><br />
    </div>