@using informatica_fstival.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1 class= "display-4" ></h1>
   
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">
            Films <BR><BR>
        </h1>
            <div class="films">
                @foreach (var film in Model)
                { <div class="film">
                    <a href="/film/@film.Id" >
                        <img src="@film.Poster" height="350" />
                    </a>
                  </div>
                }
            </div>
            <BR><BR>
       
        <h1>
            Nieuws<BR>
        </h1>
            <div class="nieuws">
                <ul>
                    <li>Let op: aangepaste Coronamaatregelen</li>
                    <li>Nieuw: House of Gucci</li>
                </ul>
            </div>

        <p>Welkom op onze bioscoop pagina.</p>
    </div>
</body>
</html>


