@using informatica_fstival.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class= "display-4" ></h1>
   
</div>
<html>
    <link rel="stylesheet" href="~/css/site.css" />
<body>
    <div class="text-center">
        <h1 class="display-4">
            Films <BR><BR>
        </h1>
            <div class="films">
                @foreach (var film in Model)
                { <div class="film">
                    <a href="/film/@film.Id" >
                        <img src="@film.Poster" height="350" />
                    </a>
                  </div>
                }
            </div>
            <BR><BR>
        <h1>
            Nu..<BR>
        </h1>
            <div class="nu">
                <table>
                    <tr>
                        <td>19.45 - 22.45</td>
                        <td>No time to die</td>
                        <td>Zaal 1</td>
                    </tr>
                    <tr>
                        <td>20.30 - 23.20</td>
                        <td>Dune</td>
                        <td>Zaal 2</td>
                    </tr>
                </table>
            </div>
            <BR><BR>
        <h1>
            Nieuws<BR>
        </h1>
            <div class="nieuws">
                <ul>
                    <li>Let op: aangepaste Coronamaatregelen</li>
                    <li>Nieuw: House of Gucci</li>
                </ul>
            </div>

        <p>Welkom op onze bioscoop pagina.</p>
    </div>
</body>
</html>


