@model List<string>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>Alle namen!</h1>
    @foreach(string naam in Model)
    {
        <p>@naam</p>
    }
</div>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">
            Films <BR><BR>
        </h1>
            <div class="films">
                <a href="detail">
                    <img src="~/img/dune.jpg" height="350" />
                </a>
                <img src="~/img/ghostbusters.jpg" height="350" />
                <img src="~/img/house of gucci.jpg" height="350" />
            </div>
            <BR><BR>
        <h1>
            Nu..<BR>
        </h1>
            <div class="nu">
                <table>
                    <tr>
                        <td>19.45 - 22.45</td>
                        <td>No time to die</td>
                        <td>Zaal 1</td>
                    </tr>
                    <tr>
                        <td>20.30 - 23.20</td>
                        <td>Dune</td>
                        <td>Zaal 2</td>
                    </tr>
                </table>
            </div>
            <BR><BR>
        <h1>
            Nieuws<BR>
        </h1>
            <div class="nieuws">
                <ul>
                    <li>Let op: aangepaste Coronamaatregelen</li>
                    <li>Nieuw: House of Gucci</li>
                </ul>
            </div>

        <p>Welkom op onze bioscoop pagina.</p>
    </div>
</body>
</html>


