@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Films <BR><BR>
        <img src="~/img/download.jpg" />
        <img src="~/img/ghostbusters.jpg" />
        <img src="~/img/house of gucci.jpg" />
        <BR><BR>
        Nu..<BR><BR>
        Nieuws<BR><BR>
    </h1>
    <p>Welkom op onze bioscoop pagina.</p>
</div>
