@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
       Films <BR><BR>
        Nu..<BR><BR>
        Nieuws<BR><BR>
    </h1>
    <p>Welkom op onze bioscoop pagina.</p>
</div>
