header{
    background-color: #ff9664;
    height: 200px;
}
body {
    margin: 0;
    background-color: #FFC46B;
}
.content{
    display:flex;
}

navigatie {
    
}
footer {
    background-color: #ff9664;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}