header {
    background-color: #ff9664;
    height: 200px;
}

body {
    margin: 0;
    background-color: #FFDCA6;
}

.content {
    display: flex;
}

navigatie {
}

footer {
    background-color: #ff9664;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
}

.films {
    background-color: #FFC46B;
    padding: 50px;
}

.nu {
    background-color: #FFC46B;
    padding: 50px;
}

.nieuws {
    background-color: #FFC46B;
    padding: 50px;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    width: 400px;
}

tr {
    background-color: #FA918F;
}

ul li {
    padding: 15px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.nav {
    overflow: hidden;
    background-color: #ff9664;
}

.nav a {
    float: left;
    color: #000000;
    width: 20%;
    text-align: center;
    padding: 15px 0px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ffdca6;
    color: #000000;
}

.dune {
    width: 80%;
    padding: 50px;
}

.container {
    display: flex;
}

.div1 {
    flex: 1;
    width: 50%;
}

.div2 {
    flex: 2;
    width: 50%;
    padding: 30px;
}

.div2-1 {
    display: flex;
}

.div2-1-1 {
    flex-basis: 25%;
}

.div2-1-2 {
    flex-basis: 75%;
}
