
header {
    background-color: #ff9664;
    height: 200px;
}

body {
    margin: 0;
    background-color: #FFDCA6;
}

.content {
    display: flex;
}

navigatie {
}

footer {
    background-color: #ff9664;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}

.films {
    background-color: #FFC46B;
    padding: 50px;
}

.nu {
    background-color: #FFC46B;
    padding: 50px;
}

.nieuws {
    background-color: #FFC46B;
    padding: 50px;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    width: 400px;
}

tr {
    background-color: #FA918F;
    padding: 20px;
}

ul li {
    padding: 15px;
}