<!DOCTYPE html>
<html 
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>header</header>
    <div>
        <nav>navigatie</nav>
        <article>article</article>
        <aside>aside</aside>
    </div>
    @RenderBody()
    <footer>footer</footer>
</body>
</html>
