<!DOCTYPE html>
<html 
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>header</header>
    <div class="content">
        <article>@RenderBody()</article>
    </div>
    <footer><navigatie>-Home              -zoeken -                evenementen-                  datum-      algemene informatie</navigatie></footer>
</body>
</html>
