<!DOCTYPE html>
<html 
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>header</header>
    <div class="çontent">
        <article>...</article>

    </div>
    @RenderBody()
    
    <footer><navigatie>-Home              -zoeken -                evenementen-                  datum-      algemene informatie</navigatie></footer>
</body>
</html>
